<nav class="tpa-navbar navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: vm.activeMenu === 'view-members' }"><a ui-sref="view-members">View members</a>
                    </li>
                    <li ng-if="vm.activeMenu === 'edit-user'" ng-class="{ active: vm.activeMenu === 'edit-user' }"><a ui-sref="edit-user">Edit member</a>
                    </li>
                    <li ng-if="vm.activeMenu !== 'edit-user'" ng-class="{ active: vm.activeMenu === 'create-user' }"><a ui-sref="edit-user">Create member</a>
                    </li>
                </ul>

                <!--      <ul class="nav navbar-nav navbar-right text">
        <li>Welcome user 'TODO'.</li>
      </ul>-->
            </div>
        </div>
</nav>