<nav class="tpa-navbar navbar navbar-static-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: vm.activeMenu === 'view-members' }"><a ui-sref="view-members">View members</a>
                    </li>
                    <li ng-if="vm.activeMenu === 'edit-user'" ng-class="{ active: vm.activeMenu === 'edit-user' }"><a ui-sref="edit-user">Edit member</a>
                    </li>
                    <li tpa-role="admin" ng-if="vm.activeMenu !== 'edit-user'" ng-class="{ active: vm.activeMenu === 'create-user' }"><a ui-sref="edit-user">Create member</a>
                    </li>
                    <li ng-class="{ active: vm.activeMenu === 'login' }"><a ui-sref="login">Login</a>
                    </li>
                    <li><a ui-sref="logout">Logout</a>
                    </li>
                </ul>

                <ul ng-if="vm.user && vm.user.name" class="nav navbar-nav navbar-right text">
                    <li>Welcome {{ vm.user.name }} (role: {{ vm.user.role }})</li>
                </ul>
            </div>
        </div>
    </div>
</nav>