<div class="container profile-password-edit">

    <div tpa-navbar active-menu="'view-members'"></div>

    <h2>Members ({{ vm.members.length }})</h2>
   
    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Employed</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr class="member-row link" ng-repeat="member in vm.members" ng-click="vm.goToDetails(member)">
                <td>{{ member._id }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.birthdate | date }}</td>
                <td>{{ member.employed }}</td>
                <td>{{ member.salary }}</td>
            </tr>
        </tbody>
    </table>

</div>