<div class="container profile-password-edit">

    <div>
        <a class="link" ui-sref="edit-user">Edit user profile</a>
    </div>

    <div class="page">

        <h1>Edit {{ vm.firstName }} 's password</h1>

        <form name="passwordForm" novalidate ng-submit="save()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Password</label>
                        <input name="password" class="form-control" type="password" ng-model="vm.user.password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Password (confirm)</label>
                        <input name="passwordConfirmation" class="form-control" type="password" ng-model="vm.user.passwordConfirmation" match="user.password">
                    </div>
                </div>
            </div>

            <div tpa-robustness-bar password="vm.user.password"></div>

            <div class="progress">
                <div class="progress-bar" ng-class="vm.getProgressClass()" role="progressbar" aria-valuenow="{{ vm.getStrongnessPercentage() }}" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: vm.getStrongnessPercentage() + '%' }">
                    {{ vm.getStrongnessPercentage() }}%
                </div>
            </div>
            <div class="row text-center actions-bar">
                <div class="text-center">
                    <a class="btn btn-lg btn-ok large outline">
                        <i class="glyphicon glyphicon-check"></i> Save
                    </a>
                </div>
            </div>


        </form>

    </div>

</div>