<div class="container profile-password-edit">

    <div tpa-navbar active-menu="'view-members'"></div>

    <h2>Members (from {{ vm.getFirstHumanIndex() }} to {{ vm.getLastHumanIndex() }} of {{ vm.members.length }})</h2>

    <p>
        Filtered: {{ vm.filteredMembers.length }}
    </p>
    <p>
        Total: {{ vm.members.length }}
    </p>

    <form novalidate>
        <div class="row">
            <div class="col-sm-3">
                <label class="control-label">First name: </label>
                <input ng-model="vm.nonstrictFilter.firstName" />
            </div>
            <div class="col-sm-3">
                <label class="control-label">Gender</label>
                <select ng-model="vm.strictFilter.gender" ng-options="gender.id as gender.label for gender in vm.genderOptions" >
                </select>
            </div>
        </div>
    </form>

    <table class="table table-bordered table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Birthdate</th>
                <th>Employed</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr class="member-row link" ng-repeat="member in vm.filteredMembers = (vm.members | filter:vm.strictFilter:true | filter:vm.nonstrictFilter ) | orderBy:'firstName':true | limitTo:vm.itemsByPage:vm.getFirstIndex()" ng-click="vm.goToDetails(member)">
                <td>{{ member._id }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.birthdate | date }}</td>
                <td>{{ member.employed }}</td>
                <td>{{ member.salary }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="pagination-container">
                    <nav class="text-center">
                        <ul class="pagination">
                            <li ng-class="{ 'disabled': vm.currentPage <= 1}">
                                <a ng-disabled="vm.currentPage <= 1" class="btn btn-small btn-primary" ng-click="vm.goToPreviousPage()">
                                             &laquo; Previous
                                        </a>
                            </li>
                            <li class="active">
                                <a href="#">{{ vm.currentPage }}/{{vm.getTotalPages()}}</a>
                            </li>
                            <li ng-class="{ 'disabled': vm.currentPage >= vm.getTotalPages()}">
                                <a class="btn btn-small btn-primary" ng-click="vm.goToNextPage()">
                                             Next &raquo;
                                        </a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </tfoot>
    </table>
    <div class="pages">
        Page size:
        <input ng-model="vm.itemsByPage" />
    </div>
</div>