<div class="container profile-password-edit">

    <div>
        <a class="link" ui-sref="edit-user">Edit user profile</a>
    </div>

    <div class="page">

        <h1>Edit {{ vm.firstName }} 's password</h1>

        <form name="passwordForm" novalidate ng-submit="save()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Password</label>
                        <input name="password" class="form-control" type="password" ng-model="vm.user.password">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label class="control-label">Password (confirm)</label>
                        <input name="passwordConfirmation" class="form-control" type="password" ng-model="vm.user.passwordConfirmation" match="vm.user.password">
                    </div>
                    <div tpa-error-messages form="passwordForm" attribute-name="passwordConfirmation">
                       <!-- override default message -->
                        <div class="error" ng-message="match">Password does not match.</div>
                    </div>
                </div>
            </div>

            <div tpa-robustness-bar password="vm.user.password">
                <img style="max-height: 15px" src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" />
                Robustness: 
            </div>

            <div class="row text-center actions-bar">
                <div class="text-center">
                    <a class="btn btn-lg btn-ok large outline">
                        <i class="glyphicon glyphicon-check"></i> Save
                    </a>
                </div>
            </div>

        </form>

    </div>

</div>